html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #757575;
  background-color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

@media (max-width: 767px) {
  .link {
    font-size: 18px;
    line-height: 21px;
  }
}

.link.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  /* @include for-size(tablet)*/
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .link.contacts {
    font-size: 12px;
    line-height: 14px;
  }
}

.link.contacts:hover .logo-info,
.link.contacts:focus .logo-info {
  fill: #2196f3;
}

.link:hover, .link:focus, .link.current {
  color: #2196f3;
}

.current:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  left: 0;
  bottom: -10px;
}

@media (min-width: 768px) {
  .current:after {
    bottom: -40px;
  }
}

.logo-info {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media (min-width: 768px) {
  .flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.content-box {
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .content-box {
    -ms-flex-preferred-size: calc((100% - 1 * 30px) / 2);
        flex-basis: calc((100% - 1 * 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .content-box:nth-child(2n) {
    margin-right: 0;
  }
  .content-box:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .content-box {
    width: calc((100% - 3 * 30px) / 4);
  }
  .content-box:not(:last-child) {
    margin-right: 30px;
  }
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;
  color: #2196f3;
  letter-spacing: 0.03em;
}

@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 31px;
  }
}

.logo-title {
  color: #000000;
}

@media (min-width: 768px) {
  .logo-title {
    margin-right: 88px;
  }
}

@media (min-width: 1200px) {
  .logo-title {
    margin-right: 93px;
  }
}

.logo-title-2 {
  color: #fff;
}

.btn {
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  background-color: #2196f3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  outline-color: #2196f3;
}

.hero > .btn {
  padding: 10px 32px;
}

@media (min-width: 768px) {
  .nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .contacts-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .menu-nav:not(:last-child) {
    margin-right: 50px;
  }
}

.link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover, .link-icon.social:hover, .link-icon:focus, .link-icon.social:focus {
  background-color: #2196f3;
}

.link-icon:hover svg,
.link-icon:focus svg {
  fill: #fff;
}

.link-icon.social {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  height: 44px;
}

.icon:not(:last-child) {
  margin-right: 10px;
}

.icon-social {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.insta {
  background-image: url(../svg/instagram2.svg);
}

.twt {
  background-image: url(../svg/twitter2.svg);
}

.fe {
  background-image: url(../svg/facebook2.svg);
  padding: 12px 17px;
}

.lin {
  background-image: url(../svg/linkedin2.svg);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.form-title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 12px;
}

@media (min-width: 1200px) {
  .form-title {
    line-height: 23px;
  }
}

.form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.form-field {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.form-field:focus ~ .form-icon {
  fill: #2196f3;
}

.form-field:not(textarea) {
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
}

.form-field::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  margin-bottom: 20px;
}

.form-field:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  margin-bottom: 20px;
}

.form-field::-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  margin-bottom: 20px;
}

.form-field::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .form-field::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 14px;
  }
  .form-field:-ms-input-placeholder {
    font-size: 12px;
    line-height: 14px;
  }
  .form-field::-ms-input-placeholder {
    font-size: 12px;
    line-height: 14px;
  }
  .form-field::placeholder {
    font-size: 12px;
    line-height: 14px;
  }
}

.form-field:not(input) {
  padding-top: 12px;
  padding-left: 16px;
}

.form-icon {
  top: 55%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  fill: #212121;
}

.form > .btn {
  padding: 10px 55px 10px 56px;
  margin-left: auto;
  margin-right: auto;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

@media (min-width: 1200px) {
  .checkbox-label {
    font-size: 14px;
    line-height: 24px;
  }
}

.checkbox-label a {
  color: #2196f3;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 8px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon {
  background-color: #2196f3;
  background-image: url(../svg/icon.check.svg);
  background-size: contain;
  background-origin: border-box;
  border-radius: 2px;
  border-color: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sign-up {
    margin-top: 60px;
    margin-left: 150px;
  }
}

@media (min-width: 1200px) {
  .sign-up {
    margin-left: 91px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.form-field-bg {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  width: 100%;
  height: 50px;
  padding-left: 16px;
}

@media (max-width: 1199px) {
  .form-field-bg {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .form-field-bg {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .form-field-bg {
    width: 358px;
  }
}

.btn.send {
  padding-top: 10px;
  padding-right: 62px;
  padding-bottom: 10px;
  padding-left: 29px;
  background-image: url(../svg/icon.send.svg);
  background-repeat: no-repeat;
  background-position: right 28px bottom 13px;
}

@media (min-width: 1200px) {
  .btn.send {
    margin-left: 12px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  padding: 93px 15px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: 300ms linear 0.7s;
  transition: 300ms linear 0.7s;
}

.modal {
  width: 100%;
  max-width: 450px;
  padding: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: 0.5s linear 0.3s;
  transition: 0.5s linear 0.3s;
}

@media screen and (min-width: 481px) {
  .modal {
    min-height: 581px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.btn-close {
  width: 30px;
  height: 30px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 480px) {
  .btn-close {
    margin-top: -32px;
    margin-right: -32px;
  }
}

@media screen and (min-width: 481px) {
  .btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}

.btn-close:focus, .btn-close:hover {
  fill: #2196f3;
  outline-color: #2196f3;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  color: #212121;
  font-size: 28px;
  line-height: 33px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  margin-top: 0px;
}

@media (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 50px;
  }
}

.section-item {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0px;
}

@media (max-width: 480px) {
  .section-item {
    text-align: center;
  }
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .nav-header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu-button {
  display: inline-block;
  height: 40px;
  margin: 0px;
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:focus, .menu-button:hover {
  fill: #2196f3;
  outline-color: #2196f3;
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-burger {
  display: none;
}

@media (max-width: 767px) {
  .navigation-wrap {
    display: none;
  }
}

.navigation-wrap.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 71px;
  background-color: white;
  text-align: center;
  border-top: 1px solid #eeeeee;
}

@media (max-width: 767px) {
  .mobile {
    margin-top: 52px;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .mobile-em {
    margin-top: 60px;
    margin-bottom: 16px;
  }
}

@media (min-width: 768px) {
  .mobile-em {
    margin-bottom: 10px;
    margin-top: 0px;
  }
}

@media (min-width: 1200px) {
  .mobile-em {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 30px;
  }
}

.contacts-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1199px) {
  .contacts-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) {
  .contacts-info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 80px;
  }
}

@media (min-width: 1200px) {
  .contacts-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 305px;
  }
}

@media (max-width: 767px) {
  .page-header {
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
  }
}

@media (min-width: 768px) {
  .page-header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 32px;
    padding-top: 32px;
  }
}

.section-hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/mobile/img.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/img.jpg);
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #c4c4c4;
  padding-bottom: 118px;
  padding-top: 118px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/mobile/img@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/img@2x.jpg);
  }
}

@media (min-width: 768px) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/tablet/img.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/img.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/tablet/img@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/img@2x.jpg);
  }
}

@media (min-width: 1200px) {
  .section-hero {
    max-width: 1600px;
    padding-bottom: 200px;
    padding-top: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/desktop/img.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/img.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/desktop/img@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/img@2x.jpg);
  }
}

.hero {
  color: #fff;
  text-align: center;
  letter-spacing: 0.06em;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  font-size: 26px;
  line-height: 42px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0px;
}

@media (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 60px;
  }
}

@media (min-width: 1200px) {
  .our-adv {
    padding-bottom: 0px;
  }
}

.list-adv::before {
  content: '';
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  /*padding: 25px 100px;*/
  margin-bottom: 30px;
}

.list-adv:nth-child(1)::before {
  background-image: url(../svg/1antenna.svg);
}

.list-adv:nth-child(2)::before {
  background-image: url(../svg/2clock.svg);
}

.list-adv:nth-child(3)::before {
  background-image: url(../svg/3diagram.svg);
}

.list-adv:nth-child(4)::before {
  background-image: url(../svg/4astronaut.svg);
}

.description {
  margin: 0px;
}

@media (max-width: 767px) {
  .description {
    margin-bottom: 30px;
  }
}

@media (max-width: 1199px) {
  .doing {
    display: none;
  }
}

.thumb {
  position: relative;
}

.thumb:not(:last-child) {
  margin-right: 30px;
}

.thumb > .label {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  margin: 0;
  padding-top: 27px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-team {
  background-color: #f5f4fa;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-title {
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}

.foto-team {
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media (max-width: 767px) {
  .foto-team:not(:last-child) {
    margin-bottom: 30px;
  }
}

.foto-team-deskript {
  padding-bottom: 30px;
}

.position {
  margin-top: 0;
  margin-bottom: 16px;
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
}

.logo-company {
  width: calc((100% - 2 * 30px) / 2);
  margin: 15px;
}

@media (min-width: 768px) {
  .logo-company {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media (min-width: 1200px) {
  .logo-company {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.link-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* width: 170px;*/
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-logo:hover, .link-logo:focus {
  border: 1px solid #2196f3;
}

.link-logo:hover .logo-icon,
.link-logo:focus .logo-icon {
  fill: #2196f3;
}

.logo-icon {
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media (max-width: 1199px) {
  .footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  .footer-info {
    margin-right: 165px;
    margin-left: 76px;
  }
}

@media (min-width: 1200px) {
  .footer-info {
    margin-right: 0px;
    margin-left: 0px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.address-title {
  font-style: normal;
  line-height: 21px;
  margin-top: 20px;
}

@media (min-width: 1200px) {
  .address-title {
    margin-right: 70px;
  }
}

.address-link {
  color: #fff;
  text-decoration: none;
  line-height: 24px;
}

.contacts-position {
  margin-top: 8px;
  margin-bottom: 8px;
}

@media (min-width: 1200px) {
  .contacts-position {
    margin-top: 9px;
    margin-bottom: 9px;
  }
}

.contacts-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.join {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .join {
    margin-top: 60px;
  }
}

@media (min-width: 1200px) {
  .join {
    margin-top: 10px;
  }
}

.border {
  border-bottom: 1px solid #eeeeee;
}

.btn-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .btn-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;
  margin-right: 8px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 767px) {
  .button {
    margin-bottom: 15px;
  }
}

.button:hover, .button:focus, .button.current-btn {
  background-color: #2196f3;
  color: #fff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 50px;
}

@media (max-width: 767px) {
  .card {
    margin-top: 35px;
  }
}

.card-item {
  width: 100%;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 767px) {
  .card-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-item {
    -ms-flex-preferred-size: calc((100% - 1 * 30px) / 2);
        flex-basis: calc((100% - 1 * 30px) / 2);
  }
  .card-item:nth-child(2n) {
    margin-right: 0;
  }
  .card-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .card-item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 3);
        flex-basis: calc((100% - 2 * 30px) / 3);
  }
  .card-item:nth-child(3n) {
    margin-right: 0;
  }
  .card-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.card-item:hover, .card-item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-box {
  position: relative;
  overflow: hidden;
}

.card-box:hover .card-overlay {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2196f3;
  outline: transparent;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

.card-overlay > p {
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  padding: 77px 24px;
  margin: 0;
}

@media screen and (max-width: 350px) {
  .card-overlay > p {
    font-size: 14px;
    line-height: 24px;
    padding: 24px 24px;
  }
}

@media screen and (max-width: 420px) {
  .card-overlay > p {
    padding: 18px 24px;
  }
}

@media (min-width: 768px) {
  .card-overlay > p {
    padding: 49px 24px;
  }
}

@media (min-width: 1200px) {
  .card-overlay > p {
    padding: 63px 24px;
  }
}

.card .title-position {
  padding: 20px 24px;
}

.card .portfolio-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
  margin-top: 0;
}

.card .portfolio-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  margin: 0px;
}
/*# sourceMappingURL=main.css.map */