.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;


&-title {
  @include font(20px, 30px, 700);
  text-align: center;
  letter-spacing: 0.03em;
  color: $dark-color;
  margin-top: 0;
  margin-bottom: 12px;
  @include for-size(desktop) {
    line-height: 23px;
  }
}

&-label {
  display: flex;
  flex-direction: column;
  position: relative;
  @include font(12px, 14px);
  letter-spacing: 0.01em;
}

&-field {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:focus {

  border: 1px solid $active;
  outline: none;
}
&:focus ~ .form-icon {
  fill: $active;
}&:not(textarea) {
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
}
&::placeholder {
  font-family: Roboto;
  font-style: normal;
  @include font(14px, 16px);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  margin-bottom: 20px;
  @include for-size(desktop) {
    font-size: 12px;
line-height: 14px;
  }
}

&:not(input) {
  padding-top: 12px;
  padding-left: 16px;
}
}

&-icon {
  top: 55%;
  left: 12px;
  transform: translateY(-50%);
  position: absolute;
  fill: $dark-color;
}

& > .btn {
  padding: 10px 55px 10px 56px;
  margin-left: auto;
  margin-right: auto;
}

}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

&-label {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  @include font(12px, 14px);

   @include for-size(desktop) {
    font-size: 14px;
    line-height: 24px;
  }

  & a {
  color: $active;
}
}


&-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid $dark-color;
  margin-right: 8.4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&:checked + .checkbox-icon {
  background-color: $active;
  background-image: url(../svg/icon.check.svg);
  background-size: contain;
  background-origin: border-box;
  border-radius: 2px;
  border-color: $active;
}

}

