.doing {
  @include for-size(desktop-only) {
    display: none;
  }
}

.thumb {
  position: relative;
   &:not(:last-child) {
  margin-right: 30px; 
  } 


& > .label {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  margin: 0;
  padding-top: 27px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white;
  background-color: rgba(47, 48, 58, 0.8);
}
}