.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-1;
  @include for-size(desktop-only) {
     display: flex;
      justify-content: space-between;
   text-align: center;
    margin-right: auto;
  margin-left: auto;
  }
}

.footer-info {
   @include for-size(tablet) {
      margin-right: 165px;
      margin-left: 76px;
   }
       @include for-size(desktop) {
         margin-right: 16px;
         margin-left: 0px;
         flex-shrink: 0;
       }
}

.address-title {
  font-style: normal;
  @include for-size(desktop) {
  
  margin-right: 70px;
  }
  line-height: 21px;
  margin-top: 20px;
  
}

.address-link {
  color: $white;
  text-decoration: none;
  line-height: 24px;
}

.contacts-position {
   margin-top: 8px;
  margin-bottom: 8px;
   @include for-size(desktop) {
  margin-top: 9px;
  margin-bottom: 9px;
   }
}

.contacts-link {
  color: $gray;
  text-decoration: none;
}

.join {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white;
  margin-bottom: 20px;

   @include for-size(tablet-only) {
     margin-top: 60px;
   }
   @media screen and (min-width: 768px) and (max-width: 1199px) {
     
   }
    @include for-size(desktop) {
 margin-top: 10px;
    }
}