.section-hero {
  background-image: linear-gradient(
   rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)
    ),
    url(../img/mobile/img.jpg);
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #c4c4c4;
  padding-bottom: 118px;
  padding-top: 118px;
  
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
   rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)
    ), url(../img/mobile/img@2x.jpg);
  }

 @include for-size(tablet) {
    background-image: linear-gradient(
   rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)
    ), url(../img/tablet/img.jpg);

    @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
   rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/img@2x.jpg);
    }
  }

   @include for-size(desktop) {
      padding-bottom: 200px;
    padding-top: 200px;
    background-image: linear-gradient(
   rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)
    ), url(../img/desktop/img.jpg);

    @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
   rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/img@2x.jpg);
    }
  }
}

.hero {
  //max-width: 700px;
  color: $white;
  text-align: center;
  letter-spacing: 0.06em;
  margin-right: auto;
  margin-left: auto;

&-title {  
@include font(26px, 42px, 900);

  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0px;
   @include for-size(desktop) {
     font-size: 44px;
  line-height: 60px;
}
}
}

