.nav-header {
     display: flex;
     align-items: center;
      @include for-size(tablet-only) {
    justify-content: space-between;
   } 
}

.menu-button {
  display: inline-block;
  height: 40px;
  margin: 0px;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
  fill: $active;
  outline-color: $active;
}
  @include for-size(tablet) {  
    display: none;
  }

  & .icon-cross {
    display: none;
     } 

    &.is-open .icon-cross {
      display: block;
    }  

  &.is-open .icon-burger  {
    display: none;
  }
}

.navigation-wrap {
   @include for-size(tablet-only) {
  display: none;
   }

  &.is-open {
     display: flex;
    flex-direction: column;
     position: absolute;
     top: 100%;
     left: 0;
     width: 100%;
     padding-top: 60px;
     padding-bottom: 71px;
    background-color: white;
    text-align: center;
    border-top: 1px solid #eeeeee;
  }
   
   }

   .mobile {
      @include for-size(tablet-only) {
     margin-top: 52px;
     margin-bottom: 40px;
     }
   &-em {
      @include for-size(tablet-only) {
   margin-top: 60px;
   margin-bottom: 16px;
      }
   @include for-size(tablet) {
  margin-bottom: 10px; 
  margin-top: 0px;
  }
   @include for-size(desktop) {
     margin-bottom: 0px;
     margin-top: 0px;
     margin-right: 30px;
  
   }
  }
}
   .contacts-info {
     display: flex;
     @include for-size(desktop-only) {
    flex-direction: column; 
     }
  @include for-size(tablet) {
    justify-content: flex-start;
     margin-left: 80px; 
  }
  @include for-size(desktop) {
    flex-direction: row;
        margin-left: 305px;
}
     }


