

.section {
  padding-top: 94px;
  padding-bottom: 94px;

&-title {
  color: $dark-color;
   @include font(28px, 33px, 700);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 0px;
  @include for-size(desktop) {
     font-size: 36px;
  line-height: 42px;
  }
}

&-item {
  color: $dark-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0px;
}

}